@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--color-dorado: #EDB44D;
	--color-general: #adb0b8;
	--color-titulos: #dbdce4;
	--fondo-negro: #09090d;
	--fondo-azul: #101117;
	--fondo-features: #121520;
	--fondo-footer: #040406;
	--color-footer: #373946;
}
body{
	
	font-size: 14px;
	color: var(--color-general);
	font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}
.titulo{
	text-align: center;
}
.subtitulo{
	font-size: 15px;
	font-weight: 600;
}

header{
	background-color: #fff;
}

#hero{
	background-color: var(--fondo-negro);
	padding-top: 5%;
}
.realce{
	color: var(--color-dorado);
	font-size: 20px;
	font-weight: 300;
}
.main{
	font-size: 60px;
	font-weight: 700;
}
#hero p{
	font-size: 18px;
}
.btn-primary{
	border-radius: 15px;
	padding: 5px 22px;
	background-color: var(--color-footer);
	border: 0;
	font-weight: 500;
}
#hero img{
	height: 80%;
	padding: 5%;
}
#features1{
	background-color: var(--fondo-azul);
	padding: 5% 0;
}
#features1 i{
	font-size: 50px;
	background-color: var(--color-dorado);
	padding: 10px;
	color: var(--color-titulos);
	border-radius: 100%;
	margin-left: 0%;
}
.right-text{
	text-align: right;
}

#features2{
	background-color: var(--fondo-features);

}
#features2 i{
	font-size: 50px;
	padding: 10px;
	color: var(--color-dorado);
}
#features2 img{
	height: 60%;
}

#Subscribe{
	background-color: var(--fondo-azul);
	padding: 20px 0;
}
#Subscribe i{
	text-align: center;
	font-size: 50px;
	color: var(--color-titulos);
	padding: 8%;
}

footer{
	background-color: var(--fondo-footer);
	padding: 2% 0;
	text-align: center;
}






